body {
    margin: 0;
}

div,
input,
textarea {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px black;
}

/* navigation section */
.navbar li {
    display: inline-block;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

/* layout.html */
.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 50px;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.blog-name h4,
.blog-name p {
    margin: 8px;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}

/* layout2.html */
.main-background {
    width: 100%;
    height: 500px;
    background-image: url('img/shoes.jpg');
    /* 반복 되는 게  싫을 때 */
    background-repeat: no-repeat;
    background-size: cover;
    /* 이미지를 가운데부터 채우게 */
    background-position: center;
    padding: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 40px;
}

.main-content {
    color: white;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 0;
    bottom: 0;
}

.explain-box {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -40px;
    box-sizing: border-box;
}

/* form */
.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto;
}