.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px black;
}

/* layout.html */
.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 100px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    float: left;
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    float: right;
}

.footer {
    width: 100%;
    height: 100px;
    background: grey;
    /* 이 전에 사용한 float 해제 */
    clear: both;
    float: none;
}