.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px black;
}

/* layout.html */
.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 50px;
    display: block;
    float: left;
}

.blog-name {
    float: left;
}

.blog-name h4,
.blog-name p {
    margin: 8px;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}